* {
  box-sizing: border-box;
}

input:focus{
  outline: none;
}

.login-form {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.login-form input {
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

input.error {
  border-color: red;
  border-width: 2px;
}

