main {
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

h1.todo-title {
  font-size: 30px;
}

form.todo-form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

button#logout-button {
  position: absolute;
  top: 20px;
  right: -25px;
}

section.top-list > form.todo-form{
  padding: 10px;
  border-bottom: 1px solid black;
}

section.top-list > header{
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid black;
  background: grey;
}

div.search-bar {
  position: relative;
}

div.search-bar > input {
  border-radius: 15px;
  border: 1px solid black;
  width: 150px;
  height: 25px;
  padding-left: 27px;
}

div.search-bar > i {
  position: absolute;
  left: 5px;
  top: 5px;
}

div.list-container {
  border: 1px solid black;
  height: 400px;
  overflow-y: auto;
  margin-top: 30px;
}

li {
  padding: 10px;
}


li.todo-item {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

li.todo-item > p {
  width: 150px;
  text-align: left;
}


div.list-buttons > i{
  margin-left: 10px;
  cursor: pointer;
}

.todo-form input[type="submit"] {
  background: rgb(7, 108, 190);
  color: white;
  width: 60px;
}


