main {
  width: 300px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

form.todo-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button#logout-button {
  position: absolute;
  top: 10px;
  right: 0;
}

section.top-list {
  padding: 10px; 
}

section.top-list > header{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

div.search-bar {
  position: relative;
}

div.search-bar > input {
  border-radius: 15px;
  border: 1px solid black;
  width: 150px;
  height: 25px;
  padding-left: 27px;
}

div.search-bar > i {
  position: absolute;
  left: 5px;
  top: 5px;
}

div.list-container {
  border: 1px solid black;
  height: 500px;
  overflow-y: auto;
}

li {
  padding: 10px;
}

li.todo-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

div.list-buttons > i{
  margin-left: 10px;
  cursor: pointer;
}