* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input[type="submit"]:disabled {
  opacity: 0.5;
}

h1#error-404{
  margin-top: 50px;
  text-align: center;
}

